@charset "UTF-8";

/* Global */

:root {
  /* Color */

  --color-background: #fff;
  --color-background-darkmode: #2f3437;
  --color-background-darkmode-input: #3f4447;
  --color-background-darkmode-hover: rgb(93, 97, 99);
  --color-white: rgba(255, 255, 255, 0.9);
  --color-dary-gray: #37352f;
  --color-grey: #888177;
  --color-light-grey: #f8f9fa;
  --color-light-purple: rgba(103, 36, 222, 0.5);
  --color-light-yellow: rgba(233, 168, 0, 0.5);
  --color-light-red: rgba(255, 0, 26, 0.5);
  --color-right-green: rgba(0, 135, 107, 0.5);

  /* Font size */
  --font-medium: 42px;
  --font-regular: 32px;
  --font-small: 18px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;

  /* Size */
  --size-border-radius: 4px;

  /* Space */

  --medium-space: 24px;
  --regular-space: 18px;
  --small-space: 12px;
  --base-space: 8px;
  --tiny-space: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body,
ul,
li,
div,
span,
h1,
h3,
img {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

li {
  list-style: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* background */
.background {
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
}

.background.darkmode {
  background-color: var(--color-background-darkmode);
  transition: 0.2s linear;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: var(--regular-space);
  margin-bottom: var(--regular-space);
  height: 48px;
  height: 8%;
}

.search {
  margin-left: var(--regular-space);
  color: var(--color-dary-gray);
}

.header .darkmode {
  margin-right: var(--regular-space);
}

.search__icon {
  margin-right: var(--base-space);
  cursor: pointer;
}

.search .search__input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-dary-gray);

  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: var(--font-small);
  opacity: 0;
}

.search__icon:hover + .search__input {
  opacity: 0.5;
}

.search__input:hover {
  opacity: 0.5;
}
.search__input:focus {
  opacity: 1;
}

/* darkmode */

.darkmode__label {
  width: 50px;
  height: 26px;
  background-color: var(--color-grey);
  border-radius: 50px;
  padding: var(--tiny-space);
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}

.darkmode__checkbox:checked + .darkmode__label .darkmode__ball {
  transform: translateX(24px);
}

.darkmode__checkbox:checked + .darkmode__label {
  background-color: #2eaacd;
}

.darkmode__ball {
  width: 22px;
  height: 22px;
  background-color: var(--color-white);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.list__title.darkmode__fontcolor,
.todo__check.darkmode__fontcolor,
.todo__delete.darkmode__fontcolor,
.todo__input.darkmode,
.darkmode__fontcolor {
  color: var(--color-white);
}

.todo__input.darkmode::placeholder {
  color: var(--color-white);
}

.search__input.darkmode__fontcolor {
  color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.todo__item.darkmode {
  background-color: var(--color-background-darkmode-input);
  border: none;
}

.todo__item.darkmode:hover,
.todo__input.darkmode:hover {
  background-color: var(--color-background-darkmode-hover);
  border: none;
}

.todo__input.darkmode:focus {
  background-color: var(--color-background-darkmode-hover);
}

/* user */

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 60vh;
}

/* quotes */

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-dary-gray);
  margin: 20px 20px 40px 20px;
}

/* quotes */
.quotes .quotes__content {
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
}

.quotes .quotes__author {
  margin-top: var(--base-space);
}

/* todo */

.todo {
  margin-top: var(--regular-space);
  display: flex;
}

/* todo__lists */
.todo__category {
  margin-left: var(--regular-space);
}

.todo__input,
.todo__item {
  font-size: 14px;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  margin-bottom: var(--base-space);
  color: var(--color-dary-gray);
  width: 260px;
  height: 50px;
}

.todo__item {
  background-color: var(--color-white);
}

.todo__input:hover,
.todo__item:hover {
  background-color: var(--color-light-grey);
  cursor: pointer;
}

.todo__input:focus {
  background-color: var(--color-light-grey);
}

.todo__item {
  border: 1px solid #c0c0c0;
  border-radius: var(--size-border-radius);
  box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  background-color: var(--color-white);
}

/* todo__input */

.todo__input {
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius);
  border: none;
  margin-right: 0;
}

.todo__inputCheck {
  background-color: transparent;
}

.todo__inputUnCheck {
  background-color: transparent;
}

.list__title {
  margin-bottom: var(--small-space);
  width: 62px;
  height: 32px;
  font-size: var(--font-small);
  text-align: center;
  border-radius: var(--size-border-radius);
  color: var(--color-dary-gray);
  padding: var(--tiny-space);
}

.list__title.title__goal {
  background-color: var(--color-light-purple);
}

.list__title.title__doing {
  background-color: var(--color-light-yellow);
}

.list__title.title__todo {
  background-color: var(--color-light-red);
}

.list__title.title__done {
  background-color: var(--color-right-green);
}

/* todo list */

.todo__list {
  margin-bottom: 12px;
}

.todo__list .todo__item .todo__content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  display: inline-block;
  width: 100%;
  margin-left: var(--base-space);
  font-weight: var(--weight-semi-bold);
}

.todo__check,
.todo__delete {
  padding: 0;
  width: 30px;
  height: 16px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-dary-gray);
  transition: transform 150ms ease-in;
  font-size: 12px;
}

.far,
.fas {
  font-size: 18px;
}

.todo__list .todo__item .todo__check:hover,
.todo__delete:hover {
  cursor: pointer;
}

.draggable.draggng {
  opacity: 0.5;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: var(--regular-space);
  position: absolute;
}

/* time */
.time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: var(--regular-space);
  color: var(--color-dary-gray);
}

.date {
  font-size: var(--font-small);
}

/* clock */
.clock {
  font-size: var(--font-regular);
}

/* weather */
.weather__container {
  color: var(--color-dary-gray);
  margin-left: var(--regular-space);
}

.weather,
.location {
  font-size: var(--font-small);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  body {
    height: 100vh;
    min-width: 500px;
  }

  .todo {
    display: flex;
    flex-direction: column;
  }

  .todo__category {
    margin-bottom: var(--medium-space);
  }

  .todo__lists {
    margin-left: 0;
    margin-bottom: var(--medium-space);
  }

  .footer {
    position: relative;
    padding-bottom: var(--regular-space);
  }
}
