@charset "UTF-8";

/* Global */

:root {
  /* Color */

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #616161;
  --color-light-grey: #7c7979;

  /* Font size */

  --font-large: 48px;
  --font-medium: 42px;
  --font-regular: 32px;
  --font-small: 18px;
  --font-micro: 12px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Space */

  --medium-space: 24px;
  --regular-space: 18px;
  --small-space: 12px;
  --base-space: 8px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body,
ul,
li,
div,
span,
h1,
h3,
img {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

li {
  list-style: none;
}

/* .user__form,
.user__greeting,
.todo {
  display: none;
} */

.background {
  /* animation: fadeIn 3s ease-out;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: url('./images/basic-background.jpeg'); */
  background-color: blanchedalmond;
  min-width: 1200px;
}

.search {
  position: absolute;
  top: var(--regular-space);
  left: var(--regular-space);
}

.search__icon {
  color: #37352f;
  margin-right: var(--base-space);
  cursor: pointer;
}

.search .search__input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #37352f;
  color: #37352f;
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: var(--font-small);
  padding: 2px;
  opacity: 0;
}

.search__icon:hover + .search__input {
  opacity: 0.5;
}

.search__input:hover {
  opacity: 0.5;
}
.search__input:focus {
  opacity: 1;
}

/* form */
.form__showing {
  display: flex;
  flex-direction: column;
}

/* clock */
.clock {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #555;
  font-size: 32px;
}

/* days */
.days {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: var(--font-regular);
  color: #37352f;
  animation: fadeIn 1s ease-in-out;
}

.days > span {
  animation: fadeIn 1s ease-in-out;
}
/* weather */
.weather__container {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #37352f;
}

.weather,
.location {
  font-size: 20px;
}

/* user */

/* user name form */
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-height: 100%; */
  height: 100vh;
}

.user__form {
  position: absolute;
  top: 10px;
  right: 20px;
}

.user__form > span {
  font-size: var(--font-large);
  color: var(--color-white);
  animation: fadeIn 1s ease-in-out;
}

.user__form .user__input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-white);
  margin-top: var(--medium-space);
  font-size: var(--font-small);
  background-color: transparent;
  color: var(--color-white);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

/* greeting */

.user__greeting {
  font-size: var(--font-large);
}

/* quotes */

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 980px; */
  /* margin: 0 auto; */
  color: #35372f;
  /* position: absolute; */
  /* top: 10%; */
  margin: 20px 0;
}

/* quotes */
.quotes .quotes__content {
  font-weight: var(--weight-bold);
  font-size: 18px;
  /* display: flex;
  justify-content: flex-end; */
  /* padding: 0 var(--regular-space); */
}

.quotes .quotes__author {
  margin-top: var(--base-space);
}

/* todo */

.todo {
  /* position: absolute;
  top: 20%; */
}

.todo__container {
  display: flex;
}

/* todo__lists */

.item__doing,
.item__todo,
.item__done {
  margin-left: 12px;
}

.todo__lists .todo__input,
.todo__item {
  font-size: 14px;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 8px 10px 10px;
  margin-bottom: var(--base-space);
  color: rgb(55, 53, 47);

  width: 260px;
  height: 40px;
  color: rgb(55, 53, 47);
}

.todo__lists .todo__input:hover,
.todo__item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.todo__lists .todo__item {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
}
.todo__lists .todo__input {
  font-weight: 600;
  border-radius: 4px;
  background-color: transparent;
  border: none;
}

.todo__lists .list__title {
  margin-bottom: 12px;
  width: 52px;
  height: 28px;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  color: rgb(55, 53, 47);
}

.title__goal {
  background-color: rgba(103, 36, 222, 0.2);
}

.title__doing {
  background-color: rgba(233, 168, 0, 0.2);
}

.title__todo {
  background-color: rgba(255, 0, 26, 0.2);
}

.title__done {
  background-color: rgba(0, 135, 107, 0.2);
}

/* todo list */

.todo__list .todo__item .todo__content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}

.todo__list .todo__item > button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  outline: none;
  color: #616161;
  transition: transform 150ms ease-in;
  font-size: 12px;
}

.todo__list .todo__item .todo__check:hover,
.todo__delete:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
