@charset "UTF-8";

/* Global */

:root {
  /* Color */

  --color-background: #ffebcd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dary-gray: #37352f;
  --color-grey: #616161;
  --color-light-grey: #f8f9fa;
  --color-light-purple: rgba(103, 36, 222, 0.2);
  --color-light-yellow: rgba(233, 168, 0, 0.2);
  --color-light-red: rgba(255, 0, 26, 0.2);
  --color-right-green: rgba(0, 135, 107, 0.2);

  /* Font size */

  --font-large: 48px;
  --font-medium: 42px;
  --font-regular: 32px;
  --font-small: 18px;
  --font-micro: 12px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;

  /* Size */
  --size-border-radius: 4px;

  /* Space */

  --medium-space: 24px;
  --regular-space: 18px;
  --base-space: 8px;
  --small-space: 12px;
  --tiny--space: 2px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body,
ul,
li,
div,
span,
h1,
h3,
img {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

li {
  list-style: none;
}

/* background */
.background {
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding-top: var(--regular-space);
  align-items: center;
}

.search {
  margin-left: var(--regular-space);
}

.search__icon {
  color: var(--color-dary-gray);
  margin-right: var(--base-space);
  cursor: pointer;
}

.search .search__input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #37352f;
  color: var(--color-dary-gray);
  width: 250px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: var(--font-small);
  opacity: 0;
}

.search__icon:hover + .search__input {
  opacity: 0.5;
}

.search__input:hover {
  opacity: 0.5;
}
.search__input:focus {
  opacity: 1;
}

/* days */
.day {
  font-size: var(--font-regular);
  margin-right: var(--regular-space);
  color: var(--color-dary-gray);
  animation: fadeIn 1s ease-in-out;
}

/* user */

/* user name form */
.user {
  /* min-width: 1200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* quotes */

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-dary-gray);
  margin-bottom: 40px;
}

/* quotes */
.quotes .quotes__content {
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
}

.quotes .quotes__author {
  margin-top: var(--base-space);
}

/* todo */

.todo__container {
  display: flex;
}

/* todo__lists */
.item__doing,
.item__todo,
.item__done {
  margin-left: 12px;
}

.todo__lists .todo__input,
.todo__item {
  font-size: 14px;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 8px 10px 10px;
  margin-bottom: var(--base-space);
  color: var(--color-dary-gray);
  width: 260px;
  height: 40px;
  color: var(--color-dary-gray);
}

.todo__lists .todo__input:hover,
.todo__item:hover {
  background-color: var(--color-light-grey);
  cursor: pointer;
}

.todo__lists .todo__item {
  border: 1px solid #c0c0c0;
  border-radius: var(--size-border-radius);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
}
.todo__lists .todo__input {
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius);
  background-color: transparent;
  border: none;
}

.todo__lists .list__title {
  margin-bottom: var(--small-space);
  width: 52px;
  height: 28px;
  font-size: var(--font-small);
  text-align: center;
  border-radius: var(--size-border-radius);
  color: var(--color-dary-gray);
}

.title__goal {
  background-color: var(--color-light-purple);
}

.title__doing {
  background-color: var(--color-light-yellow);
}

.title__todo {
  background-color: var(--color-light-red);
}

.title__done {
  background-color: var(--color-right-green);
}

/* todo list */

.todo__list .todo__item .todo__content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}

.todo__list .todo__item > button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-dary-gray);
  transition: transform 150ms ease-in;
  font-size: 12px;
}

.todo__list .todo__item .todo__check:hover,
.todo__delete:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: var(--regular-space);
  position: absolute;
}

/* clock */
.clock {
  margin-right: var(--regular-space);
  color: var(--color-dary-gray);
  font-size: var(--font-regular);
}

/* weather */
.weather__container {
  color: var(--color-dary-gray);
  margin-left: var(--regular-space);
}

.weather,
.location {
  font-size: var(--font-small);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
